<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
  <div class="banner-section">

      <div class="container text-center wow fadeInUp">
          <nav aria-label="Breadcrumb">
              <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Doctor</li>
              </ol>
          </nav>
          <h1 class="font-weight-normal">Doctor</h1>
      </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
          <div class="col-lg-10">
              <div class="justify-content-center row">
                  <div class="col-md-6 col-lg-4 py-3 wow zoomIn" style="margin-left: 200px">
                      <app-doctor-v2 [doctorVsInput]="doctor"></app-doctor-v2>
                  </div>
              </div>
          </div>
   <!-- .container -->
   

</div> <!-- .page-section -->



<app-mobile></app-mobile>
<app-footer></app-footer>