<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a routerLink="">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dasbord User</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">Dashboard User</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<h2 style="text-align: center;margin-top: 50px;text-shadow: 0px 1px 1px rgb(0 0 0 / 51%);font-size: 50px;color: #00d9a5;">Appointments</h2>
<div class="dashboard-user" style="padding: 100px  0px;">
  <div class="container">
   
    <div class="tab-content " id="nav-tabContent">
      
     
      <div class="tab-pane fade show active" id="appointment" role="tabpanel" aria-labelledby="nav-contact-tab">
        <app-table-user-appointments></app-table-user-appointments>
      </div>
    </div>
  </div>
</div>
  
































